* {
  box-sizing: border-box;
}

html,body {
  background-color: #d5d5d678 !important;
  font-family: "Calibri", "Roboto", sans-serif;
  
}
button{
  outline: none !important;
}
.left{
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
  background-color: #333c5a;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
}
.right {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
  background-color: #4a8bad;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
}

/* chrome表單自動填入會呈現input輸入框背景變成黄色 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-box-shadow: 0 0 0px 1000px #303c67 inset; /*淡淡的白*/
transition: background-color 5000s ease-in-out 0s; /*透明*/
-webkit-text-fill-color: #fff; /*字體顏色*/
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: calc(100% - 270px); /*500*/
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 10px 5px #aaaaaa;
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #303c67;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
  display: -webkit-inline-box;
  margin-left: 1em;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: calc( 100% - 157px ); /*347*/
  overflow: auto;
  background-color: #0c163a;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #333c5a;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #333c5a;
}
.messages .message.left .text {
  color: #fff;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #4a8bad;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #4a8bad;
}
.messages .message.right .text {
  color: #fff;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f5886e;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #303c67;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  background-color: #303c67;
  color: #ffffff !important;
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
  font-size: large;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #333c5a;
  border: 2px solid #45829b;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  outline: none;
}
.bottom_wrapper .send_message:hover {
  color: #fff;
  background-color: #45829b;
  border: 2px solid #45829b;
}
.bottom_wrapper #send{
  width: 136px;
  height: 46px;
  display: inline-block;
  border-radius: 50px;
  background-color: #333c5a;
  border: 0px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper #send:hover{
  background-color: #45829d;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}
/*  setting  */
.pull-right {
  float: right!important;
  margin-right: 15px;
}

.dropdown-menu {
  top: 41px !important;
  left: -100px !important;
  min-width: 172px !important;
}

#dropdownMenu1 {
  width: 58px;
  color: #bcbdc0;
  background-color: #303c67;
  border: 0;
}

@media screen and (max-width: 415px) {
  .bottom_wrapper .send_message {
    width: 95px;
  }
  .bottom_wrapper #send {
    width: 90px;
  }
  .bottom_wrapper .message_input_wrapper {
    width: calc(100% - 103px);
  }
  .chat_window {
    height: calc(100% - 150px);
  }
  .messages {
    height: calc(100% - 150px);
  }  
}

@media screen and (max-width: 320px) {
  .bottom_wrapper .send_message {
    width: 52px;
  }
  .bottom_wrapper #send {
    width: 46px;
  }
  .bottom_wrapper .message_input_wrapper {
    width: calc(100% - 60px);
  }
  .chat_window {
    height: calc(100% - 110px);
  }
}

/* typing loading */
#loading_left {
  width: calc(100% - 40em);
  min-width: 70px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #303c67;
  padding: 0px;
}


.preloader-2 {
  /* margin: 120px auto 0; */
}

.preloader-2 .line {
  width: 2px;
  height: 12px;
  background: #fff;
  margin: 0px;
  display: inline-block;
  animation: opacity-2 1000ms infinite ease-in-out;
}

.preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-2 .line-2 { animation-delay: 600ms; }
.preloader-2 .line-3 { animation-delay: 400ms; }
.preloader-2 .line-4 { animation-delay: 200ms; }
.preloader-2 .line-6 { animation-delay: 200ms; }
.preloader-2 .line-7 { animation-delay: 400ms; }
.preloader-2 .line-8 { animation-delay: 600ms; }
.preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}

.msg_time {
  color: #ccc;
  float: right;
  font-style: italic;
  position: relative;
  top: 15px;
}
